In [48]:
#Tech Task: Task 2
import pandas as pd
import numpy as np
import requests
import sqlite3
from bs4 import BeautifulSoup
from time import sleep
import re

In [3]:
#Check the maximum number of crashes across all the years - max year is 1972 with 105 crashes
crashNum = {}

for i in range(1920, 2018):
    crashNum[i] = 0
    maxCrashNum = 105
    url = "http://www.planecrashinfo.com/{}/{}-{}.htm".format(i, i, maxCrashNum)
        
    try:
        r = requests.get(url)
        if r.ok:
            print("{} has more than maxCrashNum".format(i))
        else:
            print(".", end="")
            
    #Insert delay so to avoid connection being refused (Max retries exceeded with URL)
    except requests.exceptions.ConnectionError:
            
            print("Connection refused")
            sleep(5)

....................................................1972 has more than maxCrashNum
.............................................

In [4]:
#Get data from crash website and put in crashPages list

crashPages = list()

for year in range(1920, 2018):
    for i in range(1,110):
        url = "http://www.planecrashinfo.com/{}/{}-{}.htm".format(year, year, i)
        try:
            r = requests.get(url)
            if not r.ok:
                break
            else:
                crashPages.append(r)
                print(".", end="")
    
        #Insert delay so to avoid connection being refused (Max retries exceeded with URL)
        except requests.exceptions.ConnectionError:
            
            print("Connection refused")
            sleep(5)

............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

In [5]:
crashPages[1].ok

True

In [77]:
#Parse data in crashPages list

recordList = list()
del recordList[:] #clear list

for page in crashPages:
    soup = BeautifulSoup(page.text, 'html.parser')

    table = soup.find('table')
    rows = table.find_all('tr')
    rows = rows[1:]
    
    dataDict = {}

    for row in rows:
        td_items = row.find_all('td')
        td_label = td_items[0].text.strip()
        td_data = td_items[1].text.strip()
        dataDict[td_label] = td_data
    
    #Clean data
    try:
        aboardNum = dataDict['Aboard:'].split(" ")[0] #Just take the first number, don't worry about the passenger/crew breakup
        dataDict['Aboard:'] = int(aboardNum)
        fatalityNum = dataDict['Fatalities:'].split(" ")[0] #Just take the first number, don't worry about the passenger/crew breakup
#         print("{}, ".format(fatalityNum), end="")
        dataDict['Fatalities:'] = int(fatalityNum) 
    except:
#         print('x', end="") #corrupted data
        continue
    
    recordList.append(dataDict)

In [72]:
#Insert into pandas dataframe (crashFrame)
crashFrame.drop(crashFrame.index, inplace=True) #clear dataframe
crashFrame = pd.DataFrame(recordList)

In [73]:
crashFrame['Fatalities:'].unique()

array([  1,   5,  14,  30,  21,  19,  20,  22,  27,  23,  24,  18,   0,
         2,   4,   3,  46,  34,   7,  17,   6,  52,   8,   9,  16,  10,
        48,  15,  73,  12,  11,  50,  13,  35,  25,  29,  36,  26,  40,
        31,  28,  59,  45,  44,  39,  32,  37,  38,  53,  43,  41,  33,
        55,  80,  58,  56,  70,  87, 129,  42,  47,  66,  74, 128,  62,
        67,  79,  61,  49,  99,  64,  51,  65,  60,  68,  54,  63,  72,
        78,  83,  77,  76,  95, 111, 107, 130, 112,  81,  84,  94,  86,
        97, 101, 118,  85,  57, 121, 117, 133, 124,  98,  82, 126,  88,
       123, 155, 100, 120,  90,  92, 102, 109,  75,  93, 163,  69,  91,
       104, 115, 122, 156, 108, 174, 103, 176, 110,  89, 106, 346, 191,
       113, 188, 154,  96, 583, 131, 213, 137, 183, 271, 178, 257, 146,
       166, 301, 180, 132, 145, 119, 269, 181, 148, 329, 200, 134, 520,
       256, 167, 159, 143, 290, 259, 144, 171, 127, 223, 261, 158, 141,
       157, 116, 264, 160, 189, 230, 349, 228, 234, 196, 229, 217, 169,
       114, 260, 225,  71, 275, 140, 125, 170, 187, 152, 168, 153, 239,
       298, 162, 150, 224])

In [79]:
# Total fatalities between period 1920-2016 period

total_fatalities = crashFrame['Fatalities:'].sum()
print("Total fatalities from 1920-2016: {}".format(total_fatalities))

Total fatalities from 1920-2016: 114575

In [83]:
# Top 3 airlines with the highest rate of incidents

airline_incident_frame = crashFrame
print("Total fatalities from 1920-2016: {}".format(total_fatalities))


# Year with the highest incidents
# crashFrame.replace('?', np.nan, inplace=True)
crashFrame.head(1000)

,AC Type:,Aboard:,Date:,Fatalities:,Flight #:,Ground:,Location:,Operator:,Registration:,Route:,Summary:,Time:,cn / ln:
0,Wright Flyer III,2,"September 17, 1908",1,?,0,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,"During a demonstration flight, a U.S. Army fly...",17:18,1
1,Wright Byplane,1,"September 07, 1909",1,?,0,"Juvisy-sur-Orge, France",?,SC1,Air show,Eugene Lefebvre was the first pilot to ever be...,?,?
2,Dirigible,5,"July 12, 1912",5,?,0,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,First U.S. dirigible Akron exploded just offsh...,06:30,?
3,Curtiss seaplane,1,"August 06, 1913",1,?,0,"Victoria, British Columbia, Canada",Private,?,?,The first fatal airplane accident in Canada oc...,?,?
4,Zeppelin L-1 (airship),20,"September 09, 1913",14,?,0,Over the North Sea,Military - German Navy,?,?,The airship flew into a thunderstorm and encou...,c 18:30,?
5,Zeppelin L-2 (airship),30,"October 17, 1913",30,?,0,"Near Johannisthal, Germany",Military - German Navy,?,?,Hydrogen gas which was being vented was sucked...,c 10:30,?
6,Zeppelin L-8 (airship),41,"March 05, 1915",21,?,0,"Tienen, Belgium",Military - German Navy,?,?,Crashed into trees while attempting to land af...,c 01:00,?
7,Zeppelin L-10 (airship),19,"September 03, 1915",19,?,0,"Off Cuxhaven, Germany",Military - German Navy,?,?,"Exploded and burned near Neuwerk Island, when...",c 15:20,?
8,Schutte-Lanz S-L-10 (airship),20,"July 28, 1916",20,?,0,"Near Jambol, Bulgeria",Military - German Army,?,?,"Crashed near the Black Sea, cause unknown.",?,?
9,Zeppelin L-32 (airship),22,"September 24, 1916",22,?,0,"Billericay, England",Military - German Navy,?,?,Shot down by British aircraft crashing in flames.,c 01:00,?
10,Zeppelin L-31 (airship),19,"October 01, 1916",19,?,0,"Potters Bar, England",Military - German Navy,?,?,Shot down in flames by the British 39th Home D...,c 23:45,?
11,Super Zeppelin (airship),28,"November 21, 1916",27,?,0,"Mainz, Germany",Military - German Army,?,?,Crashed in a storm.,?,?
12,Zeppelin L-34 (airship),20,"November 28, 1916",20,?,0,"Off West Hartlepool, England",Military - German Navy,?,?,Shot down by British anti-aircraft fire and ai...,c 23:45,?
13,Airship,20,"March 04, 1917",20,?,0,"Near Gent, Belgium",Military - German Army,?,?,Caught fire and crashed.,?,?
14,Schutte-Lanz S-L-9 (airship),23,"March 30, 1917",23,?,0,Off Northern Germany,Military - German Navy,?,?,Struck by lightning and crashed into the Balti...,?,?
15,Zeppelin L-22 (airship),21,"May 14, 1917",21,?,0,"Near Texel Island, North Sea",Military - German Navy,?,?,"Crashed into the sea from an altitude of 3,000...",c 05:15,?
16,Zeppelin L-43 (airship),24,"June 14, 1917",24,?,0,"Off Vlieland Island, North Sea",Military - German Navy,?,?,Shot down by British aircraft.,c 08:45,?
17,Zepplin LZ-95 (air ship),16,"June 17, 1917",14,?,0,"Near Yarmouth, England",?,L-48,?,Shot down by aircraft.,?,?
18,Zeppelin L-23 (airship),18,"August 21, 1917",18,?,0,Off western Denmark,Military - German Navy,?,?,Shot down by British aircraft.,c 07:00,?
19,Zeppelin L-44 (airship),18,"October 20, 1917",18,?,0,"Near Luneville, France",Military - German Navy,?,?,Shot down by French anti-aircraft fire.,c 07:45,?
20,Zeppelin L-59 (airship),23,"April 07, 1918",23,?,0,Over the Mediterranean,Military - German Navy,?,?,Exploded and crashed into the sea off the sout...,c 21:30,?
21,Zeppelin L-70 (airship),22,"May 10, 1918",22,?,0,"Off Helgoland Island, Germany",Military - German Navy,?,?,Shot down by British aircraft crashing from a ...,?,?
22,Zeppelin L-53 (airship),19,"August 11, 1918",19,?,0,"Ameland Island, North Sea",Military - German Navy,?,?,Shot down by british aircraft.,c 10:00,?
23,De Havilland DH-4,1,"December 16, 1918",1,?,0,"Elizabeth, New Jersey",US Aerial Mail Service,97,?,Carl Smith was killed when his mail plane feet...,?,?
24,De Havilland DH-4,1,"May 25, 1919",1,?,0,"Cleveland, Ohio",US Aerial Mail Service,61,?,Caught fire in midair. The pilot leaped from t...,?,?
25,De Havilland DH-4,1,"July 19, 1919",1,?,0,"Dix Run, Pennsylvania",US Aerial Mail Service,82,?,?,?,?
26,Caproni Ca.48,14,"August 02, 1919",14,?,0,"Verona, Italy",Caproni Company,?,Venice Taliedo,As the plane was passing over Verona the wings...,?,?
27,De Havilland DH-4,1,"October 02, 1919",1,?,0,"Newcastle, England",Aircraft Transport and Travel,?,?,?,?,?
28,Curtiss R-4LM,1,"October 14, 1919",1,?,0,"Cantonsville, Maryland",US Aerial Mail Service,32,?,The pilot was performing a mail flight to Balt...,?,?
29,De Havilland DH-4,0,"October 20, 1919",0,?,0,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,G-EAHG,?,?,?,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Douglas DC-3,27,"January 07, 1948",18,?,0,"Near Savannah, Georgia",Coastal Air Lines,N60331,Charlston - Savannah,After both engines stopped in flight and attem...,07:45,12968
971,Douglas DC-3,9,"January 08, 1948",9,?,0,"Near Palestro, Algeria",Transport Comp. Algerienne de T.A.,F-BDLG,Algiers - Biskra,Crashed into a mountainside 50 miles south of ...,?,0275
972,Douglas DC-3,32,"January 11, 1948",32,?,0,"Ciudad Havajillo, Dominican Republic",Dominicana,HI-6,?,Crashed in mountainous terrain about 15 miles ...,?,4735
973,Douglas DC-3-201F,9,"January 13, 1948",5,572,0,"Oxon Hill, Maryland",Eastern Air Lines,NC28384,Atlanta - Washington D.C.,"The aircraft crashed during approach, 5.2 mile...",04:36,4092
974,Curtiss C-46,54,"January 20, 1948",11,?,0,"Near Mukden, China",China National Aviation Corporation,?,?,The heavily loaded plane rose 50 ft. into the ...,?,?
975,Douglas DC-3 (C-47B-DK),32,"January 28, 1948",32,?,0,"Diablo Mts., California",Airline Transport Carriers,NC36480,Burbank - Oakland,The crew took the wrong plane which was schedu...,10:50,16850/33598
976,Avro 688 Tudor I,31,"January 30, 1948",31,?,0,"Atlantic Ocean, NE of Bermuda",British South American Airways,G-AHNP,London - Havana,The aircraft ran out of fuel and crashed into ...,c 03:00,1349
977,Lockheed L-649 Constellation,69,"February 07, 1948",1,611,0,"Off Jacksonville, Florida",Eastern Air Lines,NC112A,?,The No. 3 propeller failed and penetrated the ...,13:27,2533
978,Douglas DC-3,19,"February 10, 1948",19,?,0,"Near Padalarang, Indonesia",KLM Royal Dutch Airlines,PK-REA,Java - Jakarta,Crashed and burned on the island of Java.,16:30,?
979,Douglas DC-3,21,"February 12, 1948",12,?,0,"Ubrichstein, Germany",Det Danske Luftfartselskab,OY-DCI,Giessen - Bad Homberg,Crashed while on approach to Frankfurt. The pi...,13:25,7330
980,Douglas C-47-DL,10,"February 20, 1948",7,?,0,"Collesalvetti, Italy",Società Aerea Teseo,I-REGI,Florence - Rome,The pilot chose to fly the short distance betw...,?,4312
981,Latecoere 631 (flying boat),14,"February 21, 1948",14,?,0,"Off St. Marcouf, France",Latecoere Airlines,F-BDRD,?,The aircraft was seen at Ste. Mere l'Eglise wh...,14:00,07
982,Douglas DC-3,12,"February 23, 1948",12,?,0,"Davao, Philippines",Commercial Airways,PI-C262,?,Crashed 5 minutes after taking off from Mati.,?,?
983,Douglas C-47A,2,"February 25, 1948",2,?,0,"Columbus, Ohio",Bruning Aviation,NC36498,"Pittsburgh, PA - Columbus, OH",The cargo plane struck trees while attempting ...,06:00,12527
984,Douglas C-47,26,"February 27, 1948",23,?,0,"Near Belem, Brazil",Military - Brazilian Air Force,C-47-2040,"Rio de Janerio, Brazil - Cayenne, French Guianan","The plane, carrying Brazilian service personne...",?,?
985,Junkers Ju-52/3m,4,"March 02, 1948",4,?,0,"Off Perpignan, France",Société de Transports Aériens,F-BBYC,?,The cargo flight crashed into the sea.,?,AAC223
986,Douglas DC-3,22,"March 02, 1948",20,?,0,"Heathrow Airport, London, England",Sabena,OO-AWH,Brussels - London,The plane crashed during a ground control appr...,21:14,43154
987,Avro Anson,5,"March 07, 1948",5,?,0,"Near Skalafell, Iceland",Loftleidir Icelandic Airlines,TF-RVL,?,Crashed into a mountain.,?,4185
988,Douglas DC-4,13,"March 10, 1948",12,700,0,"Chicago, Illinois",Delta Air Lines,NC37478,Chicago - Miami,"During takeoff, the aircraft went into a near ...",22:58,18390
989,Douglas DC-4 (C-54G-1-DO),30,"March 12, 1948",30,4422,0,"Mt. Sanford, Alaska",Northwest Orient Airlines,NC95422,Anchorage - New York City,"On a charter flight from Lunghwa Airport, Shan...",21:14,35966/DO360
990,Douglas DC-3,6,"March 13, 1948",6,?,0,"Sierra Cristais, Brazil",Cruzeiro,PP-CBX,?,Struck the Sierra Cristais.,?,11658
991,Douglas DC-3 (C47-DL),14,"March 15, 1948",14,?,0,"Villa Pinzon, Colombia",Agencia Interamericana de Aviada,C-1002,El Secreto - Bogota,Crashed on a hill in the Andes 50 miles northw...,?,6252
992,Vickers 604 Viking 1B,19,"March 27, 1948",19,?,0,"Monte Cardo, Corsica, France",Indian National Airlines,VT-CEL,Delhi - Rome - London,"Crashed into a 7,800 ft. mountain obscured by ...",07:30,166
993,Vickers Viking 1B & Soviet YAK-3 fighter,15,"April 05, 1948",15,?,0,"Near Berlin, Germany",British European Airways / Military - Soviet A...,G-AIVP,?,The aircraft was circling Gatow in preparation...,?,229
994,Lockheed L-049-46 Constellation,31,"April 15, 1948",30,1-10,0,"Shannon, Ireland",Pan American World Airways,NC-88858,Belgium - Shannon,While executing a second instrument approach a...,02:35,2058
995,Lockheed Hudson IIIA,37,"April 18, 1948",37,?,0,Territory of New Guinea,New Guinea Air Traders,VH-ALA,?,The aircraft climbed to 500 ft. when its left ...,09:20,?
996,Lisnov Li-2,29,"April 24, 1948",28,?,0,Near Irkutsk Russia,Aeroflot,CCCP-L4460,Kirensk - Badaybo,"Crashed in an icy river, 20 miles from its des...",09:30,?
997,de Havilland Dove 1,10,"May 13, 1948",10,?,0,"Mount Coron, France",Skyways of London,G-AJOU,?,The aircraft crashed in a storm. Kathleen Ken...,?,04058
998,Douglas DC-4-1009,32,"May 13, 1948",31,?,0,"Near Magazini, Belgian Congo (Zaire)",Sabena,OO-CBE,Leopoldville - Libenga,"While cruising, the aircraft penetrated a very...",11:00,42932
999,Douglas DC-3-455,13,"May 15, 1948",13,?,0,"Vrede, South Africa",Mercury Aviation,ZS-BWY,Durban - Johannesburg - London,Crashed into Spitzkop mountain after drifting ...,07:20,6341

In [16]:
# print(crashFrame.columns.tolist())
crashFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5772 entries, 0 to 5771
Data columns (total 13 columns):
AC
        Type:    5748 non-null object
Aboard:             5772 non-null object
Date:               5772 non-null object
Fatalities:         5772 non-null object
Flight #:           1337 non-null object
Ground:             5721 non-null object
Location:           5766 non-null object
Operator:           5751 non-null object
Registration:       5418 non-null object
Route:              4272 non-null object
Summary:            5540 non-null object
Time:               3654 non-null object
cn / ln:            4562 non-null object
dtypes: object(13)
memory usage: 586.3+ KB

In [20]:
# Total fatalities between period 1920-2016 period
# Top 3 airlines with the highest rate of incidents
# Year with the highest incidents

# crashFrame['Fatalities:'].replace(np.nan, 0, inplace=True)
totalFatalities = crashFrame['Fatalities:'].astype(int).sum()
print("Total fatalities in 1920-2016 period: {}".format(totalFatalities))

ValueError: invalid literal for int() with base 10: '? \xa0 (passengers:?\xa0 crew:?)'

In [70]:
SQLITE_FILE = "crashData.db"
conn = sqlite3.connect(SQLITE_FILE) #opens sqlite and database file
myCursor = conn.cursor() #provides connection to database
crashFrame.to_sql("crashTable", conn, if_exists="replace")

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)