In [2]:
#Tech Task: Task 2
import pandas as pd
import numpy as np
import requests
import sqlite3
from bs4 import BeautifulSoup
from time import sleep

In [3]:
#Check the maximum number of crashes across all the years - max year is 1972 with 105 crashes
crashNum = {}

for i in range(1920, 2018):
    crashNum[i] = 0
    maxCrashNum = 105
    url = "http://www.planecrashinfo.com/{}/{}-{}.htm".format(i, i, maxCrashNum)
        
    try:
        r = requests.get(url)
        if r.ok:
            print("{} has more than maxCrashNum".format(i))
        else:
            print(".", end="")
            
    #Insert delay so to avoid connection being refused (Max retries exceeded with URL)
    except requests.exceptions.ConnectionError:
            
            print("Connection refused")
            sleep(5)

....................................................1972 has more than maxCrashNum
.............................................

In [4]:
#Get data from crash website and put in crashPages list

crashPages = list()

for year in range(1920, 2018):
    for i in range(1,110):
        url = "http://www.planecrashinfo.com/{}/{}-{}.htm".format(year, year, i)
        try:
            r = requests.get(url)
            if not r.ok:
                break
            else:
                crashPages.append(r)
                print(".", end="")
    
        #Insert delay so to avoid connection being refused (Max retries exceeded with URL)
        except requests.exceptions.ConnectionError:
            
            print("Connection refused")
            sleep(5)

............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

In [5]:
crashPages[1].ok

True

In [23]:
#Parse data in crashPages list

recordList = list()

for page in crashPages:
    soup = BeautifulSoup(page.text, 'html.parser')

    table = soup.find('table')
    rows = table.find_all('tr')
    rows = rows[1:]
    
    dataDict = {}

    for row in rows:
        td_items = row.find_all('td')
        td_label = td_items[0].text.strip()
        td_data = td_items[1].text.strip()
        dataDict[td_label] = td_data
    
    #Clean up the Fatalities data
    try:
        dataDict['Aboard:'] = int(dataDict['Aboard:'][:1]) #Just take the first number, don't worry about the passenger/crew breakup
        dataDict['Fatalities:'] = int(dataDict['Fatalities:'][:1]) #Just take the first number, don't worry about the passenger/crew breakup
#         print(dataDict['Fatalities:'], end="")
    except:
        print('valueError ', end="")
    
    recordList.append(dataDict)

valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError valueError

In [24]:
#Insert into pandas dataframe (crashFrame)

crashFrame = pd.DataFrame(recordList)

In [9]:
# Total fatalities between period 1920-2016 period
# Top 3 airlines with the highest rate of incidents
# Year with the highest incidents
crashFrame.replace('?', np.nan, inplace=True)
crashFrame.head(100)

,AC Type:,Aboard:,Date:,Fatalities:,Flight #:,Ground:,Location:,Operator:,Registration:,Route:,Summary:,Time:,cn / ln:
0,Wright Flyer III,2,"September 17, 1908",1,NaN,0,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,"During a demonstration flight, a U.S. Army fly...",17:18,1
1,Wright Byplane,1,"September 07, 1909",1,NaN,0,"Juvisy-sur-Orge, France",NaN,SC1,Air show,Eugene Lefebvre was the first pilot to ever be...,NaN,NaN
2,Dirigible,5,"July 12, 1912",5,NaN,0,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,First U.S. dirigible Akron exploded just offsh...,06:30,NaN
3,Curtiss seaplane,1,"August 06, 1913",1,NaN,0,"Victoria, British Columbia, Canada",Private,NaN,NaN,The first fatal airplane accident in Canada oc...,NaN,NaN
4,Zeppelin L-1 (airship),2,"September 09, 1913",1,NaN,0,Over the North Sea,Military - German Navy,NaN,NaN,The airship flew into a thunderstorm and encou...,c 18:30,NaN
5,Zeppelin L-2 (airship),3,"October 17, 1913",3,NaN,0,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Hydrogen gas which was being vented was sucked...,c 10:30,NaN
6,Zeppelin L-8 (airship),4,"March 05, 1915",2,NaN,0,"Tienen, Belgium",Military - German Navy,NaN,NaN,Crashed into trees while attempting to land af...,c 01:00,NaN
7,Zeppelin L-10 (airship),1,"September 03, 1915",1,NaN,0,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,"Exploded and burned near Neuwerk Island, when...",c 15:20,NaN
8,Schutte-Lanz S-L-10 (airship),2,"July 28, 1916",2,NaN,0,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,"Crashed near the Black Sea, cause unknown.",NaN,NaN
9,Zeppelin L-32 (airship),2,"September 24, 1916",2,NaN,0,"Billericay, England",Military - German Navy,NaN,NaN,Shot down by British aircraft crashing in flames.,c 01:00,NaN
10,Zeppelin L-31 (airship),1,"October 01, 1916",1,NaN,0,"Potters Bar, England",Military - German Navy,NaN,NaN,Shot down in flames by the British 39th Home D...,c 23:45,NaN
11,Super Zeppelin (airship),2,"November 21, 1916",2,NaN,0,"Mainz, Germany",Military - German Army,NaN,NaN,Crashed in a storm.,NaN,NaN
12,Zeppelin L-34 (airship),2,"November 28, 1916",2,NaN,0,"Off West Hartlepool, England",Military - German Navy,NaN,NaN,Shot down by British anti-aircraft fire and ai...,c 23:45,NaN
13,Airship,2,"March 04, 1917",2,NaN,0,"Near Gent, Belgium",Military - German Army,NaN,NaN,Caught fire and crashed.,NaN,NaN
14,Schutte-Lanz S-L-9 (airship),2,"March 30, 1917",2,NaN,0,Off Northern Germany,Military - German Navy,NaN,NaN,Struck by lightning and crashed into the Balti...,NaN,NaN
15,Zeppelin L-22 (airship),2,"May 14, 1917",2,NaN,0,"Near Texel Island, North Sea",Military - German Navy,NaN,NaN,"Crashed into the sea from an altitude of 3,000...",c 05:15,NaN
16,Zeppelin L-43 (airship),2,"June 14, 1917",2,NaN,0,"Off Vlieland Island, North Sea",Military - German Navy,NaN,NaN,Shot down by British aircraft.,c 08:45,NaN
17,Zepplin LZ-95 (air ship),1,"June 17, 1917",1,NaN,0,"Near Yarmouth, England",NaN,L-48,NaN,Shot down by aircraft.,NaN,NaN
18,Zeppelin L-23 (airship),1,"August 21, 1917",1,NaN,0,Off western Denmark,Military - German Navy,NaN,NaN,Shot down by British aircraft.,c 07:00,NaN
19,Zeppelin L-44 (airship),1,"October 20, 1917",1,NaN,0,"Near Luneville, France",Military - German Navy,NaN,NaN,Shot down by French anti-aircraft fire.,c 07:45,NaN
20,Zeppelin L-59 (airship),2,"April 07, 1918",2,NaN,0,Over the Mediterranean,Military - German Navy,NaN,NaN,Exploded and crashed into the sea off the sout...,c 21:30,NaN
21,Zeppelin L-70 (airship),2,"May 10, 1918",2,NaN,0,"Off Helgoland Island, Germany",Military - German Navy,NaN,NaN,Shot down by British aircraft crashing from a ...,NaN,NaN
22,Zeppelin L-53 (airship),1,"August 11, 1918",1,NaN,0,"Ameland Island, North Sea",Military - German Navy,NaN,NaN,Shot down by british aircraft.,c 10:00,NaN
23,De Havilland DH-4,1,"December 16, 1918",1,NaN,0,"Elizabeth, New Jersey",US Aerial Mail Service,97,NaN,Carl Smith was killed when his mail plane feet...,NaN,NaN
24,De Havilland DH-4,1,"May 25, 1919",1,NaN,0,"Cleveland, Ohio",US Aerial Mail Service,61,NaN,Caught fire in midair. The pilot leaped from t...,NaN,NaN
25,De Havilland DH-4,1,"July 19, 1919",1,NaN,0,"Dix Run, Pennsylvania",US Aerial Mail Service,82,NaN,NaN,NaN,NaN
26,Caproni Ca.48,1,"August 02, 1919",1,NaN,0,"Verona, Italy",Caproni Company,NaN,Venice Taliedo,As the plane was passing over Verona the wings...,NaN,NaN
27,De Havilland DH-4,1,"October 02, 1919",1,NaN,0,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,NaN,NaN,NaN
28,Curtiss R-4LM,1,"October 14, 1919",1,NaN,0,"Cantonsville, Maryland",US Aerial Mail Service,32,NaN,The pilot was performing a mail flight to Balt...,NaN,NaN
29,De Havilland DH-4,0,"October 20, 1919",0,NaN,0,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,G-EAHG,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Breguet 14,3,"July 26, 1922",3,NaN,0,"Cadix, Spain",Grands Express Aeriens,F-ALVE,NaN,While attempting to make an emergency landing ...,NaN,117
71,De Havilland DH-4,1,"September 07, 1922",1,NaN,0,"Indianapolis, Indiana",US Aerial Mail Service,227,NaN,The plane stalled shortly after takeoff and cr...,NaN,NaN
72,de Havilland DH-9,4,"October 02, 1922",4,NaN,0,"Venice, Italy",NaN,G-EAYT,Venice - London,Shortly after taking off the plane crashed int...,NaN,14
73,Breguet 14,2,"October 25, 1922",2,NaN,0,"Larache, Morocco",Grands Express Aeriens,NaN,NaN,Crashed while on a flight from France.,NaN,NaN
74,Breguet 14,1,"December 03, 1922",1,NaN,0,"Fez, Morocco",Grands Express Aeriens,F-ALNA,Toulouse - Barcelona - Valencia - Alicante - M...,While flying in foggy conditions the pilot red...,NaN,14
75,Lioré-et-Olivier H-13,4,"January 10, 1923",3,NaN,0,"Ajaccio, France",Amee de l'Air,F-AEIB,NaN,The plane crashed mid-air due to a structural ...,NaN,4
76,Breguet 14,1,"January 17, 1923",1,NaN,0,"Barcelona, Spain",Grands Express Aeriens,F-ALJU,NaN,Crashed into a mountain during a snowstorm.,NaN,6083-130
77,De Havilland DH-4,1,"January 18, 1923",1,NaN,0,"Cheyenne, Wyoming",US Aerial Mail Service,223,NaN,Crashed during a mail flight.,NaN,NaN
78,De Havilland DH-4,1,"February 26, 1923",1,NaN,0,"Meadville, Pennsylvania",US Aerial Mail Service,291,NaN,The pilot lost control of the aircraft while ...,NaN,NaN
79,Farman F-60 Goliath,6,"May 14, 1923",6,NaN,0,"Near Amiens, Picrdie, France",Grands Express Aeriens (Air Union),F-AEBY,Paris - London,Broke-up in mid air after suffering structural...,c 13:40,15
80,Blériot Spad 46,2,"August 27, 1923",2,NaN,0,"Bucharest, Romania",Campagnie France Roumaine,F-AEGN,NaN,Crashed while on approach to Bucharesst.,NaN,28
81,De Havilland DH-4,1,"September 07, 1923",1,NaN,0,"Colton, Ohio",US Aerial Mail Service,283,NaN,Crashed during an emergency landing attempt.,NaN,NaN
82,de Havilland DH-34,5,"September 14, 1923",5,NaN,0,"Near Ivinghoe, Buckinghamshire, England",Daimler Airways,G-EBBS,Croydon - Manchester,Crashed while attempting a forced landing afte...,c 18:00,29
83,Junkers F-13,5,"November 18, 1923",3,NaN,0,Russia,CCCP,D-257,NaN,Crashed during a training flight.,NaN,NaN
84,De Havilland DH-4,1,"December 06, 1923",1,NaN,0,"Castalia, Ohio",US Aerial Mail Service,318,NaN,NaN,NaN,NaN
85,Zeppelin Dixmunde (airship),5,"December 23, 1923",5,NaN,0,Over the Mediterranean Sea,Military - French Navy,L-72,Toulon - Algiers,"Crashed while on a flight from Toulon, France ...",c 02:30,NaN
86,De Havilland DH-4,1,"December 24, 1923",1,NaN,0,"Egbert, WY",US Aerial Mail Service,315,NaN,Crashed into a montain in poor weather conditi...,NaN,NaN
87,De Havilland DH-4,1,"March 07, 1924",1,NaN,0,"Grampian, Pennsylvania",US Aerial Mail Service,327,NaN,NaN,NaN,NaN
88,Fokker F.III,3,"April 24, 1924",3,NaN,0,Over the English Channel,KLM Royal Dutch Airlines,H-NABS,"Lympne, England - Rotterdam, The Netherlands",NaN,NaN,1535
89,Junkers F-13,5,"June 08, 1924",5,NaN,0,"Barranquilla, Colombia",SCADTA,A16,Barranquilla - Bogota,Stalled after taking off and crashed into a tree.,NaN,NaN
90,De Havilland DH-4,1,"August 01, 1924",1,NaN,0,United States,US Aerial Mail Service,297,NaN,NaN,NaN,NaN
91,NaN,1,"November 06, 1924",1,NaN,0,"Cabrerolles, France",Grands Express Aeriens,F-AFBD,NaN,NaN,NaN,NaN
92,De Havilland DH-4,1,"December 21, 1924",1,NaN,0,"Goshen, Indiana",US Aerial Mail Service,311,NaN,NaN,NaN,NaN
93,de Havilland DH-34B,8,"December 24, 1924",8,NaN,0,"Purley, England",Imperial Airways,G-EBBX,London - Paris,"Shortly after taking off, witnesses observed a...",c 12:00,36
94,Junkers F-13,5,"March 22, 1925",5,NaN,0,"Near Tiflis, Georgia, USSR",Zakavia,R-RECA,Tiflis - Suchumi,Shortly after take off the plane went out of c...,NaN,590
95,Breguet 14,3,"April 25, 1925",3,NaN,0,"Alicante, Spain",Grands Express Aeriens,F-AFBB,Alicante - Barcelona - Toulouse,"Shortly after takeoff, while flying at a low a...",NaN,202
96,Fokker (KLM) F.III,4,"June 25, 1925",4,NaN,0,"Landrécies, France",KLM Royal Dutch Airlines,H-NABM,Amsterdam - Paris,"While in a turn in bad weather, the right wing...",NaN,1502
97,Lioré-et-Olivier LeO H-13,2,"June 26, 1925",2,NaN,0,"Alicante, Spain",Grands Express Aeriens,F-FREM,Oran - Alicante,While attempting to land the seaplane hit a li...,NaN,NaN
98,Breguet 14,1,"July 20, 1925",1,NaN,0,"Rosas, Spain",Lignes Aeriennes Latecoere,F-AFBI,Toulouse - Barcelona,Crashed in unknown circumstance.,NaN,209
99,Potez IX,1,"July 24, 1925",1,NaN,0,"Budapest, Hungary",CIDNA,NaN,NaN,Crashed while attempting to land 10 km from th...,NaN,NaN

In [16]:
# print(crashFrame.columns.tolist())
crashFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5772 entries, 0 to 5771
Data columns (total 13 columns):
AC
        Type:    5748 non-null object
Aboard:             5772 non-null object
Date:               5772 non-null object
Fatalities:         5772 non-null object
Flight #:           1337 non-null object
Ground:             5721 non-null object
Location:           5766 non-null object
Operator:           5751 non-null object
Registration:       5418 non-null object
Route:              4272 non-null object
Summary:            5540 non-null object
Time:               3654 non-null object
cn / ln:            4562 non-null object
dtypes: object(13)
memory usage: 586.3+ KB

In [26]:
crashFrame['Fatalities:'].unique()

array([1, 5, 3, 2, 0, 4, 7, 6, 8, '? \xa0 (passengers:?\xa0 crew:?)', 9,
       '3 \xa0 (passengers:2\xa0 crew:1)',
       '4 \xa0 (passengers:?\xa0 crew:?)',
       '10 \xa0 (passengers:?\xa0 crew:?)',
       '16 \xa0 (passengers:?\xa0 crew:?)',
       '6 \xa0 (passengers:?\xa0 crew:?)',
       '9 \xa0 (passengers:?\xa0 crew:?)',
       '26 \xa0 (passengers:?\xa0 crew:?)',
       '7 \xa0 (passengers:?\xa0 crew:?)',
       '1 \xa0 (passengers:1\xa0 crew:?)',
       '1 \xa0 (passengers:1\xa0 crew:0)',
       '11 \xa0 (passengers:?\xa0 crew:?)',
       '15 \xa0 (passengers:?\xa0 crew:?)',
       '2 \xa0 (passengers:?\xa0 crew:?)',
       '18 \xa0 (passengers:?\xa0 crew:?)',
       '6 \xa0 (passengers:5\xa0 crew:1)',
       '1 \xa0 (passengers:?\xa0 crew:?)'], dtype=object)

In [20]:
# Total fatalities between period 1920-2016 period
# Top 3 airlines with the highest rate of incidents
# Year with the highest incidents

# crashFrame['Fatalities:'].replace(np.nan, 0, inplace=True)
totalFatalities = crashFrame['Fatalities:'].astype(int).sum()
print("Total fatalities in 1920-2016 period: {}".format(totalFatalities))

ValueError: invalid literal for int() with base 10: '? \xa0 (passengers:?\xa0 crew:?)'

In [70]:
SQLITE_FILE = "crashData.db"
conn = sqlite3.connect(SQLITE_FILE) #opens sqlite and database file
myCursor = conn.cursor() #provides connection to database
crashFrame.to_sql("crashTable", conn, if_exists="replace")

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)